.dropdown-start {
  cursor: default;

  .dropdown {
    visibility: hidden;
    background-color: $color-dropdow-back;
    position: absolute;
    top: 100%;
    left: 0px;
    height: 9.5rem;
    width: max-content;
    transition: all .2s;

    .inner {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      list-style: none;
      justify-content: space-between;
      padding: 1.5rem;
      align-items: flex-start;
    }
  }

  &:hover{
      .dropdown{
          visibility: visible;
      }
  }
}
