*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  height: 100%;
  width: 100%; }

body {
  font-family: 'Playfair Display', 'Open sans',sans-serif;
  box-sizing: border-box;
  height: 100%;
  width: 100%; }

#app {
  height: 100%;
  width: 100%; }

.text-secondary {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 1.7rem;
  display: block;
  color: #18010D;
  padding-bottom: 1.8rem; }

.logo {
  margin-left: 8rem;
  font-size: 2.5rem;
  font-weight: 800;
  font-size: 2.5rem;
  cursor: pointer; }
  .logo__pink {
    color: #E50A7A; }

.link:link, .link:visited {
  text-decoration: none;
  text-transform: uppercase;
  color: #504E4E;
  display: inline-block;
  transition: all .2s; }

.link:hover {
  color: #18010D; }

.link__pink:hover {
  color: #E50A7A; }

.form-group {
  font-family: 'Roboto';
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  height: 8rem;
  width: 100%; }
  .form-group label {
    font-size: 1.4rem;
    font-weight: 400;
    color: #504E4E; }
  .form-group input {
    border: .1rem solid #e2e6ec;
    font-weight: 400;
    outline: none;
    padding: 0 1.6rem;
    border-radius: .5rem;
    color: #504E4E;
    display: block;
    height: 3.5rem;
    width: 100%; }
  .form-group input:focus {
    outline: none;
    border: .1rem solid #e2e6ec; }
  .form-group span {
    width: 100%;
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center; }
    .form-group span a {
      margin-left: .5rem; }
    .form-group span a:visited,
    .form-group span a:link {
      text-decoration: none;
      color: #6A7FDB;
      transition: all .2s; }
    .form-group span a:hover {
      color: #2F4AC1; }

.button {
  width: 100%;
  padding: 1.5rem 1rem;
  font-size: 1.6rem;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.2s; }
  .button__primary:visited, .button__primary {
    background-color: #6A7FDB;
    color: white; }
  .button__primary:hover {
    background-color: #2f4ac1; }
  .button__tertiary {
    color: #E50A7A; }
    .button__tertiary:hover {
      color: #D60973 !important; }
  .button__secondary {
    border: 1px solid #E50A7A;
    background-color: #E50A7A;
    color: white; }
    .button__secondary:hover {
      border: 1px solid #E50A7A;
      background-color: #D60973;
      color: white !important; }

.dropdown-start {
  cursor: default; }
  .dropdown-start .dropdown {
    visibility: hidden;
    background-color: #B6B4B4;
    position: absolute;
    top: 100%;
    left: 0px;
    height: 9.5rem;
    width: max-content;
    transition: all .2s; }
    .dropdown-start .dropdown .inner {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      list-style: none;
      justify-content: space-between;
      padding: 1.5rem;
      align-items: flex-start; }
  .dropdown-start:hover .dropdown {
    visibility: visible; }

.icon {
  width: 1.8rem;
  height: 1.8rem;
  cursor: pointer; }
  .icon__service {
    margin-left: 1rem; }
  .icon__hidden {
    visibility: hidden; }
  .icon__square {
    color: #B6B4B4;
    padding: .7rem 1.5rem;
    border-radius: .5rem;
    border: 1px solid #dcdfe6;
    cursor: pointer; }
    .icon__square:hover {
      background-color: rgba(255, 255, 255, 0.3); }

.service-list {
  font-size: 1.6rem;
  font-family: "Roboto"; }
  .service-list .icon {
    visibility: hidden; }
  .service-list li {
    border: none !important; }
    .service-list li:hover {
      border-bottom: 1px solid rgba(0, 0, 0, 0.125) !important;
      border-top: 1px solid rgba(0, 0, 0, 0.125) !important; }
      .service-list li:hover .icon {
        visibility: visible; }

.table th {
  font-weight: 400 !important; }

.table td {
  padding: 2rem 1rem; }

.table tbody tr:hover .icon__hidden {
  visibility: visible; }

.table-head {
  color: #B6B4B4; }

.modal {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  letter-spacing: 0.13rem; }
  .modal-dialog {
    max-width: 70rem !important; }
  .modal-content {
    width: 100%; }
  .modal-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 12rem;
    width: 100%;
    padding: 2rem; }
  .modal-title {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
  .modal-body {
    padding: 2rem;
    height: 40rem;
    width: 100%; }
    .modal-body-form {
      position: relative; }
      .modal-body-form .services-body {
        height: 4.5rem; }
        .modal-body-form .services-body input {
          height: 100%; }
        .modal-body-form .services-body input[type='radio'] {
          width: 3rem;
          height: 3rem;
          margin-right: 1rem !important; }
        .modal-body-form .services-body div {
          font-size: 1.4rem;
          height: 100%; }
      .modal-body-form .working-hours_day {
        width: 100%;
        border: 1px solid #f2f3f5;
        border-radius: .5rem; }
        .modal-body-form .working-hours_day .day {
          padding: 1.2rem;
          width: 100%;
          background-color: #f2f3f5;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center; }
          .modal-body-form .working-hours_day .day_icon {
            color: #2F4AC1;
            border: 1px solid #f2f3f5;
            background-color: white;
            border-radius: 50%;
            padding: .4rem .8rem;
            cursor: pointer; }
        .modal-body-form .working-hours_day .hours {
          width: 100%;
          background-color: white; }
          .modal-body-form .working-hours_day .hours .row-select {
            width: 100%;
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            align-items: center; }
            .modal-body-form .working-hours_day .hours .row-select .select {
              flex: 0 0 45%;
              width: 100%;
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              align-items: center;
              border: 1px solid #c0c4cc;
              padding: .8rem;
              border-radius: .5rem; }
              .modal-body-form .working-hours_day .hours .row-select .select span {
                color: #c0c4cc; }
              .modal-body-form .working-hours_day .hours .row-select .select select {
                border: none; }
                .modal-body-form .working-hours_day .hours .row-select .select select:focus {
                  outline: none;
                  box-shadow: none; }
          .modal-body-form .working-hours_day .hours .row-btn {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center; }
      .modal-body-form .form-group {
        padding-top: 1.6rem; }
    .modal-body label {
      color: #7f8fa4; }
    .modal-body input {
      border: 0.1rem solid #e2e6ec;
      font-weight: 400;
      font-size: 1.4rem;
      outline: none;
      padding: 0 1.6rem;
      border-radius: 0.5rem;
      color: #504E4E;
      display: block;
      height: 3.5rem;
      width: 100%; }

.horizontal-menu {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 75%;
  padding: 0rem;
  margin: 0rem; }
  .horizontal-menu .active {
    color: #2F4AC1; }
  .horizontal-menu li {
    cursor: pointer;
    color: #B6B4B4;
    transition: all .2s;
    font-size: 1.4rem;
    font-weight: 700; }
    .horizontal-menu li a:active {
      color: #2F4AC1; }
    .horizontal-menu li:hover {
      color: #18010D; }

header {
  height: 10rem;
  font-family: "Open sans";
  letter-spacing: 1.3px;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; }

.navbar {
  margin-right: 18rem;
  flex: 0 0 40%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  font-size: 1.2rem;
  height: 100%; }
  .navbar ul {
    height: 100%;
    width: 100%;
    flex: 1 1 100%;
    font-weight: 600;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; }
    .navbar ul .link {
      position: relative;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
      .navbar ul .link .link-text {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center; }
      .navbar ul .link .bottom-line {
        width: 100%;
        transition: all 0.2s;
        border: solid 0.1rem #18010D;
        visibility: hidden; }
    .navbar ul .link:hover .bottom-line {
      visibility: visible; }

.contain {
  width: 100%;
  height: 100%;
  padding-top: 4rem;
  display: flex;
  justify-self: center;
  align-items: center;
  flex-direction: column; }

.side-bar {
  display: flex;
  flex: 0 0 20%; }
  .side-bar .side-bar--menu {
    margin: 0rem 8rem;
    padding: 0 !important;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    font-size: 2rem;
    letter-spacing: 0.1rem;
    font-family: "Roboto";
    font-family: 500; }
    .side-bar .side-bar--menu a {
      padding: 2rem 0rem;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: baseline; }
      .side-bar .side-bar--menu a span {
        padding-left: 0.8rem; }

.account {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%; }
  .account-header {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between; }
  .account-body {
    font-size: 1.5rem; }

.register-form form {
  width: 60rem;
  font-family: "Nunito sans";
  padding: 7.6rem;
  background-color: #ffff;
  box-shadow: 0px 0px 70px rgba(80, 78, 78, 0.3); }

.admin-app {
  background-color: #EFF2F7;
  width: 100%;
  display: flex;
  flex-direction: column; }

.container-inner {
  flex: 1 1 100%;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.main {
  flex: 1 1 80%;
  font-family: 'Roboto', sans-serif;
  color: #354052;
  letter-spacing: .1rem;
  font-style: normal;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: white;
  border-radius: 2rem;
  box-shadow: 10px 30px 45px rgba(173, 181, 189, 0.15);
  padding: 2rem;
  margin-right: 3rem; }
  .main .services {
    width: 100%;
    font-family: 'Roboto'; }
    .main .services form input {
      font-size: 1.4rem;
      height: 3.5rem;
      font-weight: 400;
      color: #504E4E; }
    .main .services form button {
      font-size: 1.4rem;
      line-height: 1.8; }
