.register-form {
  form {
    width: 60rem;
    font-family: "Nunito sans";
    padding: 7.6rem;
    background-color: #ffff;
    box-shadow: 0px 0px 70px rgba($color: #504e4e, $alpha: 0.3);
  }
}
